<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('blocks/header.ejs') %>
    <p>HTML code here (in news.ejs)</p>
    <p>Id of page <strong><%= newsId %></strong></p>
    <p>Accept obj in ejs</p>
    <p>Title of page <strong><%= obj.title %></strong></p>
    <p>ID of page <strong><%= obj.id %></strong></p>

    <p>Show all elements in array</p>
    <ul>
        <% obj.paragraphs.forEach(item => { %>
            <li><%= item %></li>
        <% })%>
    </ul>
</body>
</html>